<li class="activities-list">
  <% if a.trackable %>
  <% @user_with_power = User.find_by(id: a.owner_id) %>
  <% @post_owner = a.trackable.user %>
  <%= link_to(image_tag(@user_with_power.image.url(:thumb)), user_url(@user_with_power), class:'notification-avatar') %>
    <%= link_to user_url(@user_with_power) do %>
      <%= a.created_at.strftime("%e %B %Y %H:%M") %>
      <%= @user_with_power.first_name %> (<%= @user_with_power.username%>) liked a post created by <%= @post_owner.first_name %> (<%= @post_owner.username%>)
    <% end %>
  <% end %>
</li>
